{% extends "base.html" %}

{% block content %}
<article class="message">
    <div class="message-header is-size-4">
        <p>{{ current_user.username }}</p>
    </div>
    <div class="message-body">
        Below is the list with propositions for weekend. <br>
    </div>
</article>
<form action="" method="post">
    <div class="notification is-gapless has-background-white">
    {% for activity in activities %}
    {% if activity.id in range(4) %}
    
        <div class="box title is-5 has-text-black has-background-light">
            <p>{{ activity.activity_name }}</p>
        </div>
        {% endif %}
        {% endfor %}
        <div>
            <button class="button is-inline is-block is-info is-medium">Send details on e-mail</button>
        </div>
    </div>
</form>
{% endblock %}