{% extends "base.html" %}

{% block content %}
<article class="message">
    <div class="message-header is-size-4">
        <p>{{ current_user.username }}</p>
    </div>
    <div class="message-body">
        Below is the list with propositions for weekend. <br>
    </div>
</article>
<form action="" method="post">
    <div class="notification is-gapless has-background-white">
    {% for chosen in chosen_activities %}
        <div class="box title is-5 has-text-black has-background-light">
            <p>{{ chosen.chosen_activity_name }}</p>
        </div>
        
        {% endfor %}
        <div>
            <a href = "#"> <button class="button is-inline is-block is-info is-medium">Send details on e-mail</button> </a>
        </div>
    </div>
</form>
{% endblock %}