{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        <article class="message">
    <div class="message-header is-size-4">
        <p>{{ current_user.username }}</p>
    </div>
    <div class="message-body">
        Gallery with photos, here you can show other users how you have been spending your weekends
    </div>
</article>
    </h1>
    <div class="columns is-multiline">
        {% for image in images %}
        <div class="column is-one-quarter">
            <figure class="image is-5by4">
                <!-- <img src="{{ image.image_link }}"> -->
                <img src="{{ url_for('uploaded_file', filename = image.image_name) }}">

            </figure>
            <p>by user {{ image.image_user }}</p>
            <p>{{ image.image_name }}</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}