{% extends "base.html" %}

{% block content %}
<div class="notification is-info is-size-2 has-text-black-bis">
  Wellcome in WEATHER PLANNER
  <div class="notification is-info is-size-5 has-text-black-bis">
    <p>No matter what weather time to plan something together!</p>
  </div>
</div>
<div class="columns">
  <div class="column is-4">
    <div class="notification has-background-light has-text-black-bis">
      <div class="content">
        <h1>How it works</h1>
        <p style="line-height: 165%;">The <strong>Weather Planner</strong> gives you suggestions on how to spend your
          free time on the weekend. Based on the weather forecast, the type of physical activity declared at the
          beginning and your preferences the <strong>Weather Planner</strong> will suggest how to
          spend the next weekend pleasantly.</p>
      </div>
    </div>

  </div>
  <div class="column is-4">
    <div class="notification has-background-primary has-text-black-bis">
      <div class="content">
        <h1>Why you need it</h1>
        <p style="line-height: 165%;"><strong>Weather Planner</strong> will help you find and plan interesting
          activities for the weekend. It can save you time, give you a well-fitting prepared proposition and give you a
          list of needed things to be well prepared for actions. You will receive ideas but what you will choose depends
          only on you.</p>
      </div>
    </div>
  </div>
  <div class="column is-4">
    <div class="content">
      <div class="notification has-background-warning has-text-black-bis">
        <h1>Time to start</h1>
        <ul>
          <li>
            <p style="text-align: left">Go to Sing Up</p>
          </li>
          <li>
            <p style="text-align: left">Creat account</p>
          </li>
          <li>
            <p style="text-align: left">Choose your location</p>
          </li>
          <li>
            <p style="text-align: left">Choose the type of your activity</p>
          </li>
          <li>
            <p style="text-align: left">You can add your favorite activities</p>
          </li>
          <br>
          <br>
          <a href="/login" style="font-size: large;"><strong>Let's start</strong></a>

        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}