{% extends "base.html" %}

{% block content %}
<article class="message">
    <div class="message-header is-size-4">
        <p>Hello, {{ current_user.username }}!</p>
    </div>
    <div class="message-body">
        Below is the list with propositions for you. <br>
        WEATHER PLANNER chose its as a result of checking weather conditions, lacalization and kind of your profile.
    </div>
</article>
<article class="message">
    <div class="message-header is-size-4">
        <p>Weather forecast for: {{ current_user.location }}</p>
    </div>
    <div class="columns ">
        <div class="column is-one-quarter">
            <figure class="image is-96x96 is-inline-block">
                <img src="/static/sun.png">
            </figure>
        </div>
        <div class="column is-one-quarter">
            <figure class="image is-96x96 is-inline-block">
                <img src="/static/rain.png">
            </figure>
        </div>
        <div class="column is-one-quarter">
            <figure class="image is-96x96 is-inline-block">
                <img src="/static/wind.png">
            </figure>
        </div>
        <div class="column is-one-quarter">
            <figure class="image is-96x96 is-inline-block">
                <img src="/static/temperature.png">
            </figure>
        </div>
    </div>
</article>
    {% for activity in activities %}
    {% if activity.id <= 3 %}
    <div class="columns is-full is-centered is-multiline is-gapless block has-background-white">
    
        <div class="column is-6">
            <div class="block has-background-white has-text-black">
                <div class="notification has-background-white has-text-black">
                    <div class="content">
                        <div class="notification">
                            <p class="title is-3 has-text-black">{{ activity.activity_name }}</p>
                            <p> {{ activity.activity_description }}</p>
                        </div>
                        <nav class="level ">
                            <p class="level-item has-text-centered">
                                <img src="/static/chmury.jpg">
                            </p>
                            <p class="level-item has-text-centered">
                                <img src="/static/slonce.jpg">
                            </p>
                            <p class="level-item has-text-centered">
                                <img src="/static/chmury.jpg">
                            </p>
                            <div>
                                <p class="heading">Temperature:</p>
                                <p class="title has-text-black">23</p>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-6">
            <div class="block has-background-white has-text-black">
                <div class="notification has-background-white has-text-black">
                    <div class="content">
                        <div class="notification">
                            <p> <strong>Lista rzeczy do przygotowania:</strong></p>
                            <p> {{ activity.activity_todo_list }}</p>
                        </div>
                        <div class="notification">
                            <p> {{ activity.activity_calories }}</p>
                            <p> {{ activity.activity_favourite }}</p>
                            <!-- <p> {{ activity.activity_timestamp }}</p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
    {% endif %}
    {% endfor %}
    
{% endblock %}