{% extends "base.html" %}

{% block content %}
    <div class="columns">
        <div class="column is-4">
        </div>
        <div class="column is-4">
            <div class="box has-background-light">
                <p><strong>Welcome {{ user.username }}</strong></p>
            </div>
        </div>
        <div class="column is-4">
        </div>
    </div>
    <div class="columns">
        <div class="column is-2">            
        </div>
        <div class="column is-4">
            <figure class="image" > 
                <img class="is-rounded" style="width: 300px; height: 300px;" src="{{ user.avatar(128) }}">
                <h1>User: {{ user.username }}</h1>
            </figure>
        </div>
        <div class="column is-4">
            <div class="box has-background-light">
                Nazwa profilu
            </div>
            <div class="box has-background-light">
                Moja lokalizacja
            </div>
            <div class="box has-background-light">
                Rodzaj aktywności: aktywny
            </div>
            <div class="box has-background-light">
                Moja galeria...
            </div>
            <div class="column is-2">
            </div>
        </div>

    </div>
{% endblock %}