<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome to WEEKEND PLANNER</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <style>
        #tabs-with-content .tabs:not(:last-child) {
        margin-bottom: 0;
        }

        #tabs-with-content .tab-content {
        padding: 1rem;
        display: none;
        }

        #tabs-with-content .tab-content.is-active {
        display: block;
        }
    </style>
</head>

<body>
    <section class="hero is-info is-fullheight">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-start">

                            <a href="{{ url_for('index') }}" class="navbar-item">
                                Home
                            </a>
                            {% if current_user.is_authenticated %}
                            <a href="{{ url_for('propositions') }}" class="navbar-item">
                                Propositions
                            </a>
                            {% endif %}
                            <a href="{{ url_for('activities') }}" class="navbar-item">
                                Activities
                            </a>
                            <a href="{{ url_for('gallery') }}" class="navbar-item">
                                Gallery
                            </a>
                        </div>
                        <div class="navbar-end">
                            {% if current_user.is_anonymous %}
                            <a href="{{ url_for('login') }}" class="navbar-item">
                                Login
                            </a>
                            {% else %}
                            <a href="{{ url_for('user', username=current_user.username) }}" class="navbar-item">
                                Profile
                            </a>
                            <a href="{{ url_for('logout') }}" class="navbar-item">
                                Logout
                            </a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="hero-body">
            <div class="container has-text-centered">
                {% block content %}
                {% endblock %}
            </div>
        </div>
        <footer class="px-1 has-background-black">
            <div class="content has-text-centered">
                <p>
                    <strong>No matter what weather time to plan something together!<strong>.<br>
                            <strong>WEEKEND PLANNER</strong> by <a>RemekLago</a>.

                </p>
            </div>
        </footer>
    </section>
    <script>
        let tabsWithContent = (function () {
            let tabs = document.querySelectorAll('.tabs li');
            let tabsContent = document.querySelectorAll('.tab-content');

            let deactvateAllTabs = function () {
                tabs.forEach(function (tab) {
                    tab.classList.remove('is-active');
                });
            };

            let hideTabsContent = function () {
                tabsContent.forEach(function (tabContent) {
                    tabContent.classList.remove('is-active');
                });
            };

            let activateTabsContent = function (tab) {
                tabsContent[getIndex(tab)].classList.add('is-active');
            };

            let getIndex = function (el) {
                return [...el.parentElement.children].indexOf(el);
            };

            tabs.forEach(function (tab) {
                tab.addEventListener('click', function () {
                    deactvateAllTabs();
                    hideTabsContent();
                    tab.classList.add('is-active');
                    activateTabsContent(tab);
                });
            })

            tabs[0].click();
        })();
    </script>
</body>
</html>