{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Register</h3>
    <div class="box">
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="username" placeholder="Username" autofocus=""
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="text" name="email" placeholder="Email" autofocus="">
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large"
                    type="password" name="password" placeholder="Password" autofocus="">
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password2" placeholder="Repeat password " autofocus="">
                    {% for error in form.username.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Register</button>
        </form>
    </div>    
    </div>
</div>
{% endblock %}